/* Navbar */

.nav-pembeli .navbar {
    position: relative;
    z-index: 10;
    top: 0;
    height: 80px;
    background-color: #1F1E95;
    filter: drop-shadow(0px 4.32px 4.32px rgba(0, 0, 0, 0.25));
}

.nav-pembeli .container-fluid .navbar-brand {
    color: #FFFFFF;
    font-size: 30px;
    font-family: Quantico;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-right: 30px;
}

.nav-pembeli .search {
    margin-right: 30px;
    width: 384px;
}

.nav-pembeli .search .form-control {
    color: #959595;
    border-radius: 16px;
    background-color: #FFFFFF;
    height: 40px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

.nav-pembeli .input-group-text {
    width: auto;
    height: 40px;
    border-radius: 16px;
    border: 1px;
    background-color: #FFFFFF;
}

.nav-pembeli .container-fluid .search .input-group {
    align-items: center;
}

.nav-pembeli .collapse .nav-item {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    display: flex;
    margin-right: 20px;
    white-space: nowrap;
}

.nav-pembeli .container-fluid .nav-link {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.nav-pembeli .menu-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.nav-pembeli .groub-icon {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.nav-pembeli .profile-nav{
    width: auto;
    height: auto;
    margin-right: 0;
}

.nav-pembeli .menu-profile-nav{
    width: 55px;
    height: 55px;
    margin-right: 0px;
    border-radius: 50px;
    margin-bottom: 2px;
}

/* End Navbar */