/* Modal.css */


.modal-overlay .content {
  display: flex;
  height: auto;
  width: auto;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    width: 644px;
    height: 541px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.close-icon {
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
}

.head-body h2{
  color: #DF20A3;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
.body-content {
  color: #959595;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.body-end p{
  color: #959595;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.body-end a {
  color: #DF20A3;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button-close button {
  background-color: #DF20A3;
  margin-top: 40px;
  width: 195px;
  height: 59px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.button-close button:hover {
  background-color: #C7008C;
}